:root {
  --mercury: #e8e8e8;
  --silver-chalice: #9f9f9f;
  --silver: #bebebe;
  --shocking-pink: #F313A1;
  --persian-rose: #F51997;
  --royal-blue: #4747ef;
  --white: #ffffff;
  --black: #000000;
}